name: CD - Build, Push, Deploy to ACI

on:
  push:
    branches: [ main ]
    paths:
      - "applications/backend/**"
      - "applications/backend/Dockerfile"
      - ".github/workflows/deploy.yml"

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: cloudmart-api
      RESOURCE_GROUP: Student-RG-1887764
      CONTAINER_NAME: cloudmart-app
      CONTAINER_REGION: canadaeast

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest \
            -f applications/backend/Dockerfile .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create or update ACI
        uses: azure/cli@v2
        with:
          azcliversion: 2.65.0
          inlineScript: |
            az group show -n ${{ env.RESOURCE_GROUP }}

            az container create \
              --resource-group ${{ env.RESOURCE_GROUP }} \
              --name ${{ env.CONTAINER_NAME }} \
              --image ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:latest \
              --location ${{ env.CONTAINER_REGION }} \
              --dns-name-label cloudmart-1887764 \
              --ports 80 \
              --restart-policy Always \
              --environment-variables \
                COSMOS_ENDPOINT=${{ secrets.COSMOS_ENDPOINT }} \
                COSMOS_KEY=${{ secrets.COSMOS_KEY }} \
                COSMOS_DB_NAME=cloudmart \
              --query "provisioningState" \
              --output tsv || \
            az container show \
              --resource-group ${{ env.RESOURCE_GROUP }} \
              --name ${{ env.CONTAINER_NAME }} \
              --query "provisioningState" \
              --output tsv
